TIEMPO_RETARDO_OPERACION=5
PUERTO_BROKER=6009
ID=
IP_BROKER=127.0.0.1
PUNTO_MONTAJE_TALLGRASS=/home/utnso/Escritorio/tall-grass
TIEMPO_DE_REINTENTO_CONEXION=10
IP_GAMECARD=127.0.0.3
PUERTO_GAMECARD=5001
TIEMPO_DE_REINTENTO_OPERACION=5
LOG_FILE=/home/utnso/workspace/tp-2020-1c-Another-one-byte-the-dust/GameCard/GameCardObligatorio.log