ALPHA=0.5
RETARDO_CICLO_CPU=1
ESTIMACION_INICIAL=5
PUERTO_TEAM=8080
POSICIONES_ENTRENADORES=[2|3,6|5,9|9]
PUERTO_BROKER=6009
TIEMPO_RECONEXION=30
ALGORITMO_PLANIFICACION=FIFO
ID=
POKEMON_ENTRENADORES=[Pikachu]
IP_TEAM=127.0.0.2
IP_BROKER=127.0.0.1
QUANTUM=0
LOG_FILE=/home/utnso/workspace/tp-2020-1c-Another-one-byte-the-dust/Team/Team.log
OBJETIVOS_ENTRENADORES=[Pikachu|Squirtle,Pikachu|Gengar,Squirtle|Onix]
