ALPHA=0.5
RETARDO_CICLO_CPU=5
ESTIMACION_INICIAL=5
PUERTO_TEAM=8089
POSICIONES_ENTRENADORES=[2|3,6|5,9|9,9|2,2|9]
PUERTO_BROKER=6009
TIEMPO_RECONEXION=30
ALGORITMO_PLANIFICACION=RR
ID=
POKEMON_ENTRENADORES=[]
IP_TEAM=
IP_BROKER=
QUANTUM=1
LOG_FILE=/home/utnso/Escritorio/Team.log
LOG_OBLIGATORIO_FILE=/home/utnso/Escritorio/TeamObligatorio.log
OBJETIVOS_ENTRENADORES=[Vaporeon,Jolteon,Flareon,Umbreon,Espeon]